@model XettuyenDGNLTHPT.Models.tblHoSoDGNL

@{
    ViewBag.Title = "xettuyenthpt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    </DIV><!-- END HEADER -->
<!-- BEGIN CONTAINER -->


<div id="UpdatePanel1" class="form-horizontal">

    <div class="page-container">
        <!-- BEGIN CONTENT -->

        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE CONTENT BODY -->
            <div class="page-content">
                <div class="container">
                    <!-- BEGIN PAGE CONTENT INNER -->
                    <div class="page-content-inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center font-blue bold">
                                    <h3 style="color:#c61d23"><strong>ĐĂNG KÝ XÉT TUYỂN 2022</strong></h3>
                                    <h4 style="color:#2F39B1;font-weight:bold">(Dành cho thí chỉnh sửa hồ sơ <span style="background-color:yellow">Đánh giá năng lực</span> của ĐHQG TP. HCM)</h4>
                                </div>
                                <div class="portlet light " id="form_wizard_1">
                                    <div class="portlet-body form">

                                        <div id="myPanel" UpdateMode="Always">

                                            <div class="form-body">

                                                <form action="@Url.Action("SaveDGNL","ManageHoSo")" method="POST">
                                                    @Html.AntiForgeryToken()
                                                    @*@using (Html.BeginForm("SaveDGNL", "ManageHoSo", Model, FormMethod.Post))*@


                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="tab1">
                                                            <div style="background-color:red;color: white;text-transform:uppercase;padding-left:0.8em;font-size:1.3em">thông tin thí sinh</div>
                                                            <h5 style="color:blue; border-bottom:solid;border-width:1px;border-color:lightgray; padding-bottom:15px; margin-top:8px">
                                                                <strong>A. THÔNG TIN CÁ NHÂN</strong>
                                                            </h5><br />
                                                            <div class="col-md-5 col-validate" hidden>

                                                                <input name="ID" type=”hidden” value="@Model.ID" class="form-control" hidden="hidden" />
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Họ và tên<span class="required"> * </span></label>
                                                                <div class="col-md-5 col-validate">
                                                                    <input name="HoVaTen" type="text" value="@Model.HoVaTen" id="txtTenThiSinh" class="form-control" placeholder="NGUYỄN VĂN A" required="true" style="text-transform: uppercase;" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Giới tính<span class="required"> * </span></label>
                                                                <div class="col-md-4 col-validate">
                                                                    <div class="radio-list">
                                                                        <label>
                                                                            @Html.RadioButtonFor(model => model.GioiTinh, true)
                                                                            Nam &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.GioiTinh, false)
                                                                            Nữ
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Ngày sinh<span class="required"> * </span></label>
                                                                <div class="col-md-8">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                <input name="NgaySinh" value="@Convert.ToDateTime(@Model.NgaySinh).ToString("dd/MM/yyyy")" type="text" id="txtNgaySinh" class="form-control" required="true" placeholder="21/08/2000" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" style="width:130px;" />
                                                                            </td>
                                                                            <td>Nơi sinh<span style="color:red"> * </span></td>
                                                                            <td>
                                                                                @Html.DropDownList("MaNoiSinh", (IEnumerable<SelectListItem>)ViewBag.TP_QH_PX, new { @class = "form-control", @required = "required" })

                                                                                @*@Html.DropDownList("Noisinh", null, htmlAttributes: new { @class = "form-control", required = "true" })*@
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Dân tộc<span class="required"> * </span></label>
                                                                <div class="col-md-8">
                                                                    <table>
                                                                        <tr>
                                                                            <td>
                                                                                @Html.DropDownList("MaDanToc", (IEnumerable<SelectListItem>)ViewBag.DanToc, null, new { @class = "form-control", required = "true" })
                                                                                @*@Html.EditorFor(model => model.TenDanToc, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                @Html.ValidationMessageFor(model => model.MaDanToc, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            <td>Tôn giáo<span style="color:red"> * </span></td>
                                                                            <td>
                                                                                @Html.DropDownList("MaTonGiao", (IEnumerable<SelectListItem>)ViewBag.TonGiao, null, new { @class = "form-control", required = "true" })
                                                                                @*@Html.EditorFor(model => model.TenDanToc, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                @Html.ValidationMessageFor(model => model.MaTonGiao, "", new { @class = "text-danger" })
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Số CMND/CCCD<span class="required"> * </span></label>
                                                                <div class="col-md-8">
                                                                    <table>
                                                                        <tr>
                                                                            <td><input name="CMND" maxlength="12" id="txtCMND" value="@Model.CMND" required="true" placeholder="9 số hoặc 12 số" type="text" class="form-control" /></td>
                                                                            <td>Quốc tịch<span style="color:red"> * </span></td>
                                                                            <td>
                                                                                @Html.DropDownList("QuocTich", (IEnumerable<SelectListItem>)ViewBag.QuocTich, null, new { @class = "form-control", required = "true" })

                                                                                @* @Html.DropDownList("Quoc Tich", new SelectList(ViewBag.QuocTich, "ID", "TenQT"))*@
                                                                                @*@Html.DropDownList(model => model.QuocTich, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                @Html.ValidationMessageFor(model => model.QuocTich, "", new { @class = "text-danger" })
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Hộ khẩu thường trú<span class="required"> * </span></label>
                                                                <div class="col-md-5">
                                                                    @Html.EditorFor(model => model.HoKhau, new { htmlAttributes = new { @class = "form-control", required = "true", placeholder = "Số nhà/ khu phố, thôn, tên đường, ấp, tổ" } })
                                                                    @Html.ValidationMessageFor(model => model.HoKhau, "", new { @class = "text-danger" })
                                                                    <div class="vertical_space"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 control-label">Tỉnh/Thành phố <span class="required"> * </span></div>
                                                                        <div class="col-md-8">
                                                                            @Html.DropDownList("HoKhau_MaTinhTP", (IEnumerable<SelectListItem>)ViewBag.TP_QH_PX, null, new { @class = "form-control city-select", target = "#ddlHoKhauQuanHuyen" })
                                                                            @*@Html.EditorFor(model => model.CCNN, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                            @Html.ValidationMessageFor(model => model.HoKhau_TenTinhTP, "", new { @class = "text-danger" })

                                                                        </div>
                                                                    </div>
                                                                    <div class="vertical_space"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 control-label">Quận/Huyện <span class="required"> * </span></div>
                                                                        <div class="col-md-8">
                                                                            @Html.DropDownList("HoKhau_MaQH", (IEnumerable<SelectListItem>)ViewBag.TP_QH, null, new { @class = "form-control district-select", target = "#ddlHoKhau_PhuongXa", name = "ddlHoKhauQuanHuyen", id = "ddlHoKhauQuanHuyen" })
                                                                            @*<select name="ddlHoKhauQuanHuyen" id="ddlHoKhauQuanHuyen" class="form-control district-select" required="true" target="#ddlHoKhau_PhuongXa">
                        </select>*@
                                                                        </div>
                                                                    </div>
                                                                    <div class="vertical_space"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 control-label">Phường/Xã <span class="required"> * </span></div>
                                                                        <div class="col-md-8">
                                                                            @Html.DropDownList("HoKhau_MaPhuong", (IEnumerable<SelectListItem>)ViewBag.PX, null, new { @class = "form-control ", name = "ddlHoKhau_PhuongXa", id = "ddlHoKhau_PhuongXa", required = "true" })
                                                                            @*<select name="ddlHoKhau_PhuongXa" id="ddlHoKhau_PhuongXa" class="form-control" required="true">
                        </select>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Năm tốt nghiệp<span class="required"> * </span></label>
                                                                <div class="col-md-2">
                                                                    @Html.EditorFor(model => model.NamTotNghiep, new { htmlAttributes = new { @class = "form-control", placeholder = "Năm tốt nghiệp", @pattern = "[0-9]{4}", @required = "required", @oninvalid = "this.setCustomValidity('Hãy nhập vào năm tốt nghiệp của bạn')", @oninput = "this.setCustomValidity('')" } })
                                                                    @Html.ValidationMessageFor(model => model.NamTotNghiep, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Học lực lớp 12<span class="required"> * </span></label>
                                                                <div class="col-md-8">
                                                                    <div class="radio-list">
                                                                        <label>
                                                                            @Html.RadioButtonFor(model => model.HocLucLop12, "Giỏi")
                                                                            Giỏi &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HocLucLop12, "Khá")
                                                                            Khá &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HocLucLop12, "Trung bình")
                                                                            Trung bình &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HocLucLop12, "Yếu")
                                                                            Yếu  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HocLucLop12, "Khác")
                                                                            Khác
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Hạnh kiểm lớp 12<span class="required"> * </span></label>
                                                                <div class="col-md-8">
                                                                    <div class="radio-list">
                                                                        <label>
                                                                            @Html.RadioButtonFor(model => model.HanhKiemLop12, "Tốt")
                                                                            Tốt &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HanhKiemLop12, "Khá")
                                                                            Khá &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HanhKiemLop12, "Trung bình")
                                                                            Trung bình &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HanhKiemLop12, "Yếu")
                                                                            Yếu &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            @Html.RadioButtonFor(model => model.HanhKiemLop12, "Khác")
                                                                            Khác
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Thí sinh học theo chương trình<span class="required"> * </span></label>
                                                                <div class="col-md-8 col-validate">
                                                                    <div class="radio-list">
                                                                        <div class="radio-list">
                                                                            <label>
                                                                                @Html.RadioButtonFor(model => model.LoaiHinhTN, "THPT")
                                                                                THPT  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                                @Html.RadioButtonFor(model => model.LoaiHinhTN, "GDTX")
                                                                                GDTX
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Trường THPT lớp 12 thuộc Tỉnh/TP <span class="required"> * </span></label>
                                                                <div class="col-md-5">
                                                                    @Html.DropDownList("THPT", (IEnumerable<SelectListItem>)ViewBag.THPT, null, new { @class = "form-control districtschool-select", target = "#ddlQuanHuyenTHPT" })
                                                                    @Html.ValidationMessageFor(model => model.TruongTHPT_TenTinhTP, "", new { @class = "text-danger" })
                                                                    <div class="vertical_space"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 control-label">Quận/Huyện <span class="required"> * </span></div>
                                                                        <div class="col-md-8">
                                                                            <select name="ddlQuanHuyenTHPT" id="ddlQuanHuyenTHPT" class="form-control school-select" required="true" target="#ddlTenTruongTHPT">
                                                                                <option value="@Model.TruongTHPT_MaQH">@Model.TruongTHPT_TenQH</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="vertical_space"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 control-label">Tên trường THPT<span class="required"> * </span></div>
                                                                        <div class="col-md-8">
                                                                            <select name="ddlTenTruongTHPT" id="ddlTenTruongTHPT" class="form-control area-select" required="true" target="#ddlKhuVuc"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="vertical_space"></div>
                                                                    <div class="row">
                                                                        <div class="col-md-4 control-label">Tên lớp 12 <span class="required"> * </span></div>
                                                                        <div class="col-md-8">
                                                                            <div class="col-md-8">
                                                                                @Html.EditorFor(model => model.TenLop12, new { htmlAttributes = new { @class = "form-control", required = "true", placeholder = "Tên lớp 12" } })
                                                                                @Html.ValidationMessageFor(model => model.TenLop12, "", new { @class = "text-danger" })
                                                                                @*<input name="txtTenLop12" id="txtTenLop12" required="true" placeholder="Tên lớp 12" type="text" class="form-control" />*@
                                                                                <span class="text-muted">(Ví dụ: lớp 12A1)</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Khu vực</label>
                                                                    <div class="col-md-8">
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <select name="ddlKhuVuc" id="ddlKhuVuc" class="form-control">
                                                                                        <option value="1">1</option>
                                                                                        <option value="2">2</option>
                                                                                        <option value="2NT">2NT</option>
                                                                                        <option selected="selected" value="3">3</option>

                                                                                    </select>
                                                                                </td>
                                                                                <td>Đối tượng ưu tiên</td>
                                                                                <td>
                                                                                    <select name="ddlDoiTuongUT" id="ddlDoiTuongUT" class="form-control">
                                                                                        <option selected="selected" value="Không có">Kh&#244;ng c&#243;</option>
                                                                                        <option value="1">1</option>
                                                                                        <option value="2">2</option>
                                                                                        <option value="3">3</option>
                                                                                        <option value="4">4</option>
                                                                                        <option value="5">5</option>
                                                                                        <option value="6">6</option>
                                                                                        <option value="7">7</option>

                                                                                    </select>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>


                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Kết quả kỳ thi ĐGNL ngày<span class="required"> * </span></label>
                                                                    <div class="col-md-8">
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    <input name="TGThiDGNL" type="text" value="@Convert.ToDateTime(@Model.TGThiDGNL).ToString("dd/MM/yyyy")" id="txtNgayThiDGNL" class="form-control" required="true" placeholder="18/03/2022" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" style="width:130px;" />
                                                                                </td>
                                                                                <td>Điểm thi<span style="color:red"> * </span></td>
                                                                                <td>
                                                                                    <input name="DiemDGNL" id="txtDiemThi" value="@Model.DiemDGNL" class="form-control" required="true" type="number" value="100" min="100" max="1200" step="1" style="width:130px;" />
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                                <div class="vertical_space"></div>

                                                                <h5 style="color:blue;font-weight:bold"><strong>B. THÔNG TIN LIÊN HỆ</strong></h5>
                                                                <hr />
                                                                <div class="form-group">
                                                                    <div class="col-md-4 text-right">Sử dụng thông tin của Hộ khẩu</div>
                                                                    <div class="col-md-6">
                                                                        <input id="chkLayDCHoKhau" type="checkbox" name="chkLayDCHoKhau" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Địa chỉ gửi thư báo kết quả<span class="required"> * </span></label>
                                                                    <div class="col-md-5 col-validate">
                                                                        @Html.EditorFor(model => model.LienLac_DiaChi, new { htmlAttributes = new { @class = "form-control", required = "true", placeholder = "Số nhà, Tên đường" } })
                                                                        @Html.ValidationMessageFor(model => model.LienLac_DiaChi, "", new { @class = "text-danger" })
                                                                        <div class="vertical_space"></div>
                                                                        <div class="row">
                                                                            <div class="col-md-4 control-label">Tỉnh/Thành phố <span class="required"> * </span></div>
                                                                            <div class="col-md-8">
                                                                                @Html.DropDownList("LienLac_MaTP", (IEnumerable<SelectListItem>)ViewBag.TP_QH_PX, null, new { @class = "form-control city-select", target = "#ddlQuanHuyen" })
                                                                                @*@Html.EditorFor(model => model.CCNN, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                @Html.ValidationMessageFor(model => model.LienLac_TenTP, "", new { @class = "text-danger" })

                                                                            </div>
                                                                        </div>
                                                                        <div class="vertical_space"></div>
                                                                        <div class="row">
                                                                            <div class="col-md-4 control-label">Quận/Huyện <span class="required"> * </span></div>
                                                                            <div class="col-md-8">
                                                                                @Html.DropDownList("LienLac_MaQH", (IEnumerable<SelectListItem>)ViewBag.TP_QH, null, new { @class = "form-control district-select", required = "true", target = "#ddlPhuongXa", name = "ddlQuanHuyen", id = "ddlQuanHuyen" })
                                                                                @*<select name="ddlQuanHuyen" id="ddlQuanHuyen" class="form-control district-select" required="true" target="#ddlPhuongXa">
                                <option value="@Model.LienLac_TenQH"></option>
                            </select>*@
                                                                            </div>
                                                                        </div>
                                                                        <div class="vertical_space"></div>
                                                                        <div class="row">
                                                                            <div class="col-md-4 control-label">Phường/Xã <span class="required"> * </span></div>
                                                                            <div class="col-md-8">
                                                                                @Html.DropDownList("LienLac_MaPhuongXa", (IEnumerable<SelectListItem>)ViewBag.PX, null, new { @class = "form-control ", name = "ddlPhuongXa", id = "ddlPhuongXa", required = "true" })
                                                                                @*<select name="ddlPhuongXa" id="ddlPhuongXa" class="form-control" required="true">
                            </select>*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Điện thoại di động<span class="required"> * </span></label>
                                                                    <div class="col-md-5 col-validate">
                                                                        <input name="DienThoaiDD" type="text" va id="txtDienThoaiDiDong" class="form-control" required="true" placeholder="Điện thoại di động" value="@Model.DienThoaiDD" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Email <span class="required"> * </span></label>
                                                                    <div class="col-md-5 col-validate">
                                                                        <input name="Email" id="txtEmail" value="@Model.Email" class="form-control" required="true" type="Email" placeholder="Email liên lạc" />
                                                                        <span class="text-muted">(Nhà trường sẽ gửi Mã hồ sơ qua email này)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Điện thoại phụ huynh <span class="required"> * </span></label>
                                                                    <div class="col-md-5 col-validate">
                                                                        <input name="DienThoaiPhuHuynh" type="text" id="txtDienThoaiPhuHuynh" class="form-control" required="true" placeholder="Điện thoại phụ huynh" value="@Model.DienThoaiPhuHuynh" />
                                                                        <span class="text-muted">(Trường hợp không liên lạc được với thí sinh, nhà Trường sẽ liên lạc qua số này)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="vertical_space"></div>
                                                                <div class="vertical_space"></div>
                                                                <hr />
                                                                <div style="background-color:red;color: white;text-transform:uppercase;padding-left:0.8em;font-size:1.3em">THÔNG TIN XÉT TUYỂN</div>
                                                                <div class="vertical_space"></div>
                                                                <div class="vertical_space"></div>
                                                                <div class="row">
                                                                    <div class="col-md-1"></div>
                                                                    <table>
                                                                        <tr>
                                                                            <td style="width:30%">
                                                                                <strong>Ngành xét tuyển ưu tiên 1</strong>
                                                                                @Html.DropDownList("MaNganh_ToHop1", (IEnumerable<SelectListItem>)ViewBag.NGANH, null, new { @class = "form-control majors-select ", target = "#ddlToHopMon1", order = "1" })
                                                                                @Html.ValidationMessageFor(model => model.TenNganh_TenToHop1, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            <td style="width:30%">
                                                                            </td>
                                                                            <td>
                                                                                <div class="d-none">
                                                                                    <strong>Chương trình đào tạo</strong>
                                                                                    <div class="radio-list" style="margin-left: 20px">
                                                                                        <label>
                                                                                            <input type="radio" name="CTDT1" value="CTTC" checked />
                                                                                            CTTC
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <p></p><strong style="color:red"></strong>
                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <strong>Ngành xét tuyển ưu tiên 2</strong>
                                                                                @Html.DropDownList("MaNganh_ToHop2", (IEnumerable<SelectListItem>)ViewBag.NGANH, null, new { @class = "form-control majors-select ", target = "#ddlToHopMon2", order = "2" })
                                                                                @Html.ValidationMessageFor(model => model.TenNganh_TenToHop2, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                            <td>
                                                                                <div class="d-none">
                                                                                    <strong>Chương trình đào tạo</strong>
                                                                                    <div class="radio-list" style="margin-left: 20px">
                                                                                        <label>
                                                                                            <input type="radio" name="CTDT2" value="CTTC" checked />
                                                                                            CTTC
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <p></p><strong></strong>
                                                                            </td>

                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <strong>Ngành xét tuyển ưu tiên 3</strong>
                                                                                @Html.DropDownList("MaNganh_ToHop3", (IEnumerable<SelectListItem>)ViewBag.NGANH, null, new { @class = "form-control majors-select ", target = "#ddlToHopMon3", order = "3" })
                                                                                @Html.ValidationMessageFor(model => model.TenNganh_TenToHop3, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                            <td>
                                                                                <div class="d-none">
                                                                                    <strong>Chương trình đào tạo</strong>
                                                                                    <div class="radio-list" style="margin-left: 20px">
                                                                                        <label>
                                                                                            <input type="radio" name="CTDT3" value="CTTC" checked />
                                                                                            CTTC
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td><p></p><strong></strong></td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                                <div class="vertical_space"></div>
                                                                <div class="vertical_space"></div>

                                                                <!--end id="tab1"-->
                                                            </div>
                                                            <DIV class="form-actions">
                                                                <DIV class="row">
                                                                    <div class="col-md-offset-5 col-md-5">
                                                                        <input role="button" type="submit" class="btn green-jungle button-submit" value="CHỈNH SỬA VÀ NỘP HỒ SƠ">
                                                                        @*<input type="submit" name="btnFinish" value="ĐỒNG Ý VÀ NỘP HỒ SƠ" id="btnFinish" class="btn green-jungle button-submit" formmethod="post" />*@
                                                                    </div>
                                                                </DIV>
                                                            </DIV>
                                                        </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- END CONTENT -->

                </div><!-- END CONTAINER -->
            </div>
        </div>

    </div>






    @section Scripts {
        <script src="~/Scripts/app.js"></script>
        @Scripts.Render("~/bundles/jqueryval")
        <script>

       $(document). ready(function () {
             $('#TP_QH_PX').find('option[value = "@Model.HoKhau_MaTinhTP"]').attr('selected', true);
            $('#THPT').find('option[value = "@Model.TruongTHPT_MaTinhTP"]').attr('selected', true);
            $('#LienHeTP').find('option[value = "@Model.LienLac_MaTP"]').attr('selected', true);
            @*$('#Majors1').find('option[value = "@Model.MaNganh_ToHop1.Split('#')[0]"]').attr('selected', true);*@
            localStorage.setItem('household-loaded', 'city');
            localStorage.setItem('school-loaded', 'city');
            localStorage.setItem('is-first-time-majors1-combination-loaded', 'true');
            $('#TP_QH_PX').change();
            $('#THPT').change();
            $('#Majors1').change();
        });
        $('select.city-select').change(function () {
            let maTp = $(this).val();
            let target = $(this).attr('target');

            let chkLayDCHoKhau = $("#chkLayDCHoKhau").is(':checked');
            if (chkLayDCHoKhau) {
                $('#TP_QH_PX option').each(function () {
                    if ($(this).val() == maTp) {
                        $(this).prop("selected", true);
                        return;
                    }
                });
                $('#LienHeTP option').each(function () {
                    if ($(this).val() == maTp) {
                        $(this).prop("selected", true);
                        return;
                    }
                });
            }

            if (maTp != '-1') {
                $.get(`@Url.Action("GetDistrict", "Home")/${maTp}`, data => {
                    attachDistrictOrWard($(target), data, '-- Chọn quận/huyện --');
                    $('#ddlHoKhau_PhuongXa').html('');

                    let householdLoadVariableInLocalStorage = localStorage.getItem('household-loaded');
                    if (householdLoadVariableInLocalStorage == 'city') {
                        $('#ddlHoKhauQuanHuyen').find('option[value = "@Model.HoKhau_MaQH"]').attr('selected', true);
                        $('#ddlHoKhauQuanHuyen').change();

                        attachDistrictOrWard($('#ddlQuanHuyen'), data, '-- Chọn quận/huyện --');
                        $('#ddlQuanHuyen').find('option[value = "@Model.LienLac_MaQH"]').attr('selected', true);

                        localStorage.setItem('household-loaded', 'district');
                    }
                    if (chkLayDCHoKhau) {
                        attachDistrictOrWard($('#ddlQuanHuyen'), data, '-- Chọn quận/huyện --');
                        $('#ddlPhuongXa').html('');
                    }
                });
            } else {
                attachDistrictOrWard($('#ddlHoKhauQuanHuyen'), [], '-- Chọn quận/huyện --');
                $('#ddlHoKhau_PhuongXa').html('');

                if (chkLayDCHoKhau) {
                    attachDistrictOrWard($('#ddlQuanHuyen'), [], '-- Chọn quận/huyện --');
                    $('#ddlPhuongXa').html('');
                }
            }
        });

        $('select.district-select').change(function () {
            let maPx = $(this).val();
            let target = $(this).attr('target');

            let chkLayDCHoKhau = $("#chkLayDCHoKhau").is(':checked');
            if (chkLayDCHoKhau) {
                $('#ddlQuanHuyen option').each(function () {
                    if ($(this).val() == maPx) {
                        $(this).prop("selected", true);
                        return;
                    }
                });
            }

            if (maPx != '-1') {
                $.get(`@Url.Action("GetWard", "Home")/${maPx}`, data => {
                    attachDistrictOrWard($(target), data, '-- Chọn phường/xã --');

                    let householdLoadVariableInLocalStorage = localStorage.getItem('household-loaded');
                    if (householdLoadVariableInLocalStorage == 'district') {
                        $('#ddlHoKhau_PhuongXa').find('option[value = "@Model.HoKhau_MaPhuong"]').attr('selected', true);

                        attachDistrictOrWard($('#ddlPhuongXa'), data, '-- Chọn phường/xã --');
                        $('#ddlPhuongXa').find('option[value = "@Model.LienLac_MaPhuongXa"]').attr('selected', true);

                        localStorage.removeItem('household-loaded');
                    }
                    if (chkLayDCHoKhau) {
                        attachDistrictOrWard($('#ddlPhuongXa'), data, '-- Chọn phường/xã --');
                    }
                });
            } else {
                attachDistrictOrWard($('#ddlHoKhau_PhuongXa'), [], '-- Chọn phường/xã --');
                if (chkLayDCHoKhau) {
                    attachDistrictOrWard($('#ddlPhuongXa'), [], '-- Chọn phường/xã --');
                }
            }
        });

        $('select.districtschool-select').change(function () {
            let maQHTH = $(this).val();
            let target = $(this).attr('target');
            if (maQHTH != '-1') {

                $.get(`@Url.Action("GetDistrictSchool", "Home")/${maQHTH}`, data => {
                    attachDistrictOrWard($(target), data, '-- Chọn quận/huyện --');
                    let schoolLoadVariableInLocalStorage = localStorage.getItem('school-loaded');
                    if (schoolLoadVariableInLocalStorage == 'city') {
                        $('#ddlQuanHuyenTHPT').find('option[value = "@Model.TruongTHPT_MaQH"]').attr('selected', true);
                        localStorage.setItem('school-loaded', 'district');
                        $('#ddlQuanHuyenTHPT').change();
                    }
                });
            }
        });
        $('select.school-select').change(function () {
            let maQHTH = $('select.districtschool-select').val();
            let maTH = $(this).val();
            let target = $(this).attr('target');
            if (maTH != '-1') {
                let id = maTH + '-' + maQHTH;
                $.get(`@Url.Action("GetSchool", "Home")/${id}`, data => {
                    attachDistrictOrWard($(target), data, '-- Chọn trường --');

                    let schoolLoadVariableInLocalStorage = localStorage.getItem('school-loaded');
                    if (schoolLoadVariableInLocalStorage == 'district') {
                        $('#ddlTenTruongTHPT').find('option[value = "@Model.MaTruongTHPT.Substring(Model.TruongTHPT_MaTinhTP.Length)"]').attr('selected', true);
                        localStorage.removeItem('school-loaded');
                    }
                });
            }
        });
        $('select.area-select').change(function () {
            let maKV = $(this).val();
            let target = $(this).attr('target');
            if (maKV != '-1') {
                $.get(`@Url.Action("GetArea", "Home")/${maKV}`, data => {
                    attachDistrictOrWard($(target), data, "", false);
                });
            }
        });
        $('#chkLayDCHoKhau').change(function () {
            if ($("#chkLayDCHoKhau").is(':checked')) {
                let txtHoKhau = $('#HoKhau').val();
                $('#LienLac_DiaChi').val(txtHoKhau);

                $('#LienHeTP option').each(function () {
                    if ($(this).val() == $('select.city-select').val()) {
                        $(this).prop("selected", true);
                        let maTp = $(this).val();
                        if (maTp != -1) {
                            $.get(`@Url.Action("GetDistrict", "Home")/${maTp}`, data => {
                                attachDistrictOrWard($('#ddlQuanHuyen'), data, '-- Chọn quận/huyện --');
                                $('#ddlPhuongXa').html('');

                                $('#ddlQuanHuyen option').each(function () {
                                    if ($(this).val() == $('#ddlHoKhauQuanHuyen').val()) {
                                        $(this).prop("selected", true);
                                        let maPx = $(this).val();
                                        if (maPx != -1) {
                                            $.get(`@Url.Action("GetWard", "Home")/${maPx}`, data => {
                                                attachDistrictOrWard($('#ddlPhuongXa'), data, '-- Chọn phường/xã --');

                                                $('#ddlPhuongXa option').each(function () {
                                                    if ($(this).val() == $('#ddlHoKhau_PhuongXa').val()) {
                                                        $(this).prop("selected", true);
                                                        return;
                                                    }
                                                });
                                            });
                                        } else {
                                            attachDistrictOrWard($('#ddlPhuongXa'), [], '-- Chọn phường/xã --');
                                        }
                                        return;
                                    }
                                });
                            });
                        } else {
                            attachDistrictOrWard($('#ddlQuanHuyen'), [], '-- Chọn quận/huyện --');
                            $('#ddlPhuongXa').html('');
                        }
                        return;
                    }
                });
            }
        });

        $('#ddlHoKhau_PhuongXa').change(function () {
            $('#ddlPhuongXa option').each(function () {
                if ($(this).val() == $('#ddlHoKhau_PhuongXa').val()) {
                    $(this).prop("selected", true);
                    return;
                }
            });
        });
        $('#HoKhau').keyup(function () {
            if ($("#chkLayDCHoKhau").is(':checked')) {
                let txtHoKhau = $('#HoKhau').val();
                $('#LienLac_DiaChi').val(txtHoKhau);
            }
        });

        $('select.majors-select').change(function () {
            let maNG = $(this).val();
            let target = $(this).attr('target');
            let order = $(this).attr('order');
            if (maNG != '-1') {
                $.get(`@Url.Action("GetMajors", "Home")/${maNG}`, data => {
                    attachDistrictOrWard($(target), data, '--------------Chọn--------------');
                    console.log($(this).parent().next().next());

                    if (data[0].HasCTDBFlag) {
                        $(this).parent().next().next().html(`<strong>Chương trình đào tạo</strong>
                                                                            <div class="radio-list" style="margin-left: 20px">
                                                                                <label>
                                                                                    <input type="radio" name="CTDT${order}" value="CTTC" checked />
                                                                                    CTTC &nbsp; &nbsp; &nbsp;
                                                                                    <input type="radio" name="CTDT${order}" value="CTĐB" />
                                                                                    CTĐB
                                                                                </label>
                                                                            </div>`);
                    } else {
                        $(this).parent().next().next().html(`<div class="d-none">
                                                                                <strong>Chương trình đào tạo</strong>
                                                                                <div class="radio-list" style="margin-left: 20px">
                                                                                    <label>
                                                                                        <input type="radio" name="CTDT${order}" value="CTTC" checked />
                                                                                        CTTC
                                                                                    </label>
                                                                                </div>
                                                                            </div>`);
                    }
                });
            }
        });




        function attachDistrictOrWard(element, data, defaultItem, needFirstItem = true) {
            let itemsHtml = '';
            if (needFirstItem) {
                itemsHtml = `<option value="-1">${defaultItem}</option>`;
            }
            for (let item of data) {
                console.log(item);
                itemsHtml += `<option value="${item.Id}">${item.Name}</option>`;
            }
            element.html(itemsHtml);
        }

        </script>
    }

