@model XettuyenDGNLTHPT.Models.tblHoSoDGNL
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    td {
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
    }

    .vertical_space {
        height: 10px;
    }

    #pnGiayBao {
        padding-left: 20px;
    }

    .newline {
        text-indent: 25px;
        margin-top: 10px;
    }
</style>

<style type="text/css">

        @Page { size: A4; margin: 0}

        @Page :left {
            margin-left: 80mm;

        }

        @Page :first{
            margin-top:20px;
        }
    }
</style>
<script>
    function myFunction() {
        window.print();
    }
</script>
<div style="background-color: #c61d23" class="page-header-menu sss">
    <div class="container">
        <div class="hor-menu">
            <ul class="nav navbar-nav">
                <li><a target="_blank" class="amenu" href="http://tuyensinh.vanlanguni.edu.vn/">TUYỂN SINH 2022</a></li>
                @if (Convert.ToBoolean(Session["Form-bodyTHPT"]) == true)
                {

                }
                else
                {
                    <li><a class="amenu" href="@Url.Action("index", "Home")"> XÉT ĐIỂM THI THPT QG</a></li>
                }
                @if (Convert.ToBoolean(Session["Form-bodyDGNL"]) == true)
                {

                }
                else
                {
                    <li><a class="amenu" href="@Url.Action("index", "HoSoDGNLs")">XÉT ĐIỂM ĐGNL</a></li>
                }


                <li style="background-color: #4e5966"> <a class="amenu" href="@Url.Action("InHoSo", "ManageHoSo")">HỒ SƠ CỦA TÔI</a></li>
                <li><a class="amenu" href="@Url.Action("index", "tracuuketqua")">GIẤY BÁO ĐỦ ĐIỀU KIỆN</a></li>

            </ul>
        </div>
    </div>
</div>
<form method="post" action="@Url.Action("PrintlDGNL","ManageHoSo")">
    <div class="aspNetHidden">
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="pc1UmHZMJaISToRTaZ0PDCnlkb0+P0dHHV2FnTCSjsI61w3H3O2oVeD4DqErAGdOYrMfIn8sPU02WwG71lBcpra08zfuOWBIb4pST6pxGWz55FKrDkOwBNA142F6r9KW" />
    </div>

    <div class="aspNetHidden">

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="9D10CFA7" />
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="ACPVZjx4teabP4d658ST999oEjDO/a6aGtJJC4dkGPvG5OFVSemQywijrq2b56pYqVJYVd0aHufGxdAX5A6sri5+zQhUS+fcDiEzX/YxJI9DLd/PJFA+KbvgjgEg2twwreoIkFkqpiWSojykIistPKZvq35Msxitl7ve4ciMan7Ypu+NV5oZWppH1ba6+VNtqh3/oD/z6NDnLM28Db4gWiT9J/dx/Y3KJ2bV8HEKQ8A=" />
    </div>
    <div class="page-container">
        <!-- BEGIN CONTENT -->

        @if (Convert.ToBoolean(Session["notfound"]) == true)
        {<div style="font-size:1.3em" class="text-center font-blue bold"><br>Không tìm thấy hồ sơ của bạn trên hệ thống!<br>Bạn cần nhập đúng SỐ CMND/CCCD hoặc SỐ ĐIỆN THOẠI đã đăng ký hồ sơ.<br><br>Nếu cần hỗ trợ, bạn có thể liên hệ hotline: (028) 7105 9999</div>}
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <!-- BEGIN PAGE CONTENT BODY -->

            <div class="vertical_space"></div>
            <div class="vertical_space"></div>
            <div class="vertical_space"></div>
            <div class="vertical_space"></div>
            <div class="vertical_space"></div>
        </div>
        <table style="width:95%;margin:auto">
            <tbody>
                <tr>
                    <td style="width:10%"></td>
                    <td style="width:10%"></td>
                    <td style="width:10%"></td>
                    <td style="width:10%"></td>
                    <td style="width:10%"></td>
                    <td style="width:10%"></td>
                    <td style="width:10%"></td>
                    <td style="width:30%;"></td>
                </tr>
                <tr>
                    <td><img src="~/files/logo.png" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width:10%"></td>
                    <td colspan="2" style="width:10%;text-align:center;font-weight:bold;font-size:1.1em" ">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br />Độc lập - Tự do - Hạnh phúc</td>
                    <td style="width:30%"></td>
                </tr>
                <tr>
                    <td colspan="6" class="text-center">
                        <span style="font-weight:bold;color:red;font-size:1.5em">ĐĂNG KÝ XÉT TUYỂN 2022 </span>
                        <br />
                        <span style="font-size:1.2em">(Dành cho thí sinh xét kết quả DGNL)</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" style="color:Highlight;font-weight:bold;font-size:1.3em">THÔNG TIN THÍ SINH</td>
                    <td colspan="3"></td>
                    <td>MÃ HỒ SƠ: <span style="color:red;font-weight:bold;font-size:1.2em">DVL_@Model.ID</span></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="1"><b>1. Họ tên thí sinh</b>:</td>
                    <td colspan="3">@Model.HoVaTen</td>
                    @if (Model.GioiTinh == true)
                    {


                        <td>
                            <b>Giới tính:</b> Nam

                        </td>
                    }
                    else
                    {
                        <td>
                            <b>Giới tính:</b> Nữ

                        </td>
                    }

                    <td></td>

                    <td></td>

                </tr>


                <tr>

                    <td colspan="2"><b>2. Ngày tháng năm sinh</b>:</td>

                    <td colspan="6">@Convert.ToDateTime(@Model.NgaySinh).ToString("dd/MM/yyyy")</td>

                </tr>


                <tr>

                    <td colspan="2"><b>3. Nơi sinh</b>: @Model.TenNoiSinh</td>

                    <td colspan="2"><b>4. Dân tộc</b>: @Model.TenDanToc </td>

                    <td colspan="2"><b>5. Tôn giáo</b>: @Model.TenTonGiao </td>

                    <td colspan="2"></td>

                </tr>


                <tr>

                    <td colspan="2"><b>6. Số chứng minh dân dân/ Căn cước công dân</b>:@Model.CMND </td>

                    <td colspan="6"> - <b>Quốc tịch</b>:@Model.QuocTich </td>

                </tr>


                <tr>

                    <td colspan="2"><b>7. Hộ khẩu thường trú</b>: </td>

                    <td colspan="6">@Model.HoKhau</td>

                </tr>


                <tr>

                    <td colspan="2"></td>

                    <td colspan="2"><b>Phường xã</b>: @Model.LienLac_TenPhuongXa</td>

                    <td colspan="2"><b>Quận/Huyện</b>: @Model.HoKhau_TenQH</td>

                    <td><b>Tỉnh/Thành phố</b>: @Model.HoKhau_TenTinhTP</td>

                </tr>


                <tr>

                    <td colspan="2"><b>8. Nămm tốt nghiệp THPT</b>:</td>

                    <td colspan="6">@Model.NamTotNghiep</td>

                </tr>


                <tr>

                    <td colspan="2"><b>9. Học lực lớp 12</b>:</td>

                    <td>@Model.HocLucLop12</td>

                    <td></td>

                    <td colspan="2"><b>10. Hạnh kiểm lớp 12</b>:</td>

                    <td colspan="2">@Model.HanhKiemLop12</td>

                </tr>


                <tr>

                    <td colspan="2"><b>11. Thí sinh học chương trình</b>:</td>

                    <td colspan="6">@Model.LoaiHinhTN</td>

                </tr>


                <tr>

                    <td colspan="2"><b>12. Nơi học THPT lớp 12</b>:</td>

                    <td colspan="4">@Model.TenTruongTHPT - <b>Lớp</b>: @Model.TenLop12</td>

                    <td colspan="2"><b>Mã tỉnh: </b>@Model.TruongTHPT_MaTinhTP</td>

                </tr>


                <tr>

                    <td colspan="2"><b>13. Khu vực</b>: </td>

                    <td colspan="6">@Model.KhuVuc</td>

                </tr>


                <tr>

                    <td colspan="2"><b>14. Đối tượng ưu tiên</b>: </td>

                    <td colspan="6">@Model.DoiTuongUuTien</td>

                </tr>

                <tr>

                    <td colspan="8"></td>

                </tr>

                <tr>

                    <td colspan="2" style="color:Highlight;font-weight:bold;font-size:1.3em">THÔNG TIN XÉT TUYỂN</td>

                    <td colspan="6"><b>Phương Thức Xét Tuyển</b>: DGNL</td>

                </tr>

                <tr>

                    <td colspan="8">

                        <table class="table-bordered text-center" style="width:80%">
                            <tr>
                                <th style="text-align:center;width:20%">Ngày Thi DGNL</th>
                                <th class="text-center">@Convert.ToDateTime(@Model.TGThiDGNL).ToString("dd/MM/yyyy")</th>

                            </tr>
                            <tr>
                                <th style="text-align:center;width:20%">Điểm thi DGNL</th>
                                <th>@Model.DiemDGNL</th>

                            </tr>



                        </table>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"><b>Chứng chỉ ngoại ngữ</b>:<i>(nếu có):@Model.CCNN</i></td>
                    <td colspan="6"></td>
                </tr>

                <tr><td><b>Ngành đăng ký xét tuyển 1</b>: </td><td colspan="2">@Model.TenNganh_TenToHop1</td><td></td><td><b>Mã ngành</b>: @Model.MaNganh_ToHop1</td><td></td><td></td></tr>
                @if (Model.CTDT1 == null)
                {
                    <tr><td></td><td colspan="3">Chương trình học: </td></tr>
                }
                else if (Model.CTDT1.Equals("CTTC"))
                {
                    <tr><td></td><td colspan="3">Chương trình học: Tiêu Chuẩn</td></tr>
                }
                else if (Model.CTDT1.Equals("CTĐB"))
                {
                    <tr><td></td><td colspan="3">Chương trình học: Đặc Biệt</td></tr>
                }
                else
                {
                    <tr><td></td><td colspan="3">Chương trình học: </td></tr>
                }
                <tr><td><b>Ngành đăng ký xét tuyển 2</b>: </td><td colspan="2">@Model.TenNganh_TenToHop2</td><td></td><td><b>Mã ngành</b>: @Model.MaNganh_ToHop2</td><td></td><<td></td></tr>
                @if (Model.CTDT2 == null)
                {
                    <tr><td></td><td colspan="3">Chương trình học: </td></tr>
                }
                else if (Model.CTDT2.Equals("CTTC"))
                {
                    <tr><td></td><td colspan="3">Chương trình học: Tiêu Chuẩn</td></tr>
                }
                else if (Model.CTDT2.Equals("CTĐB"))
                {
                    <tr><td></td><td colspan="3">Chương trình học: Đặc Biệt</td></tr>
                }
                else
                {
                    <tr><td></td><td colspan="3">Chương trình học: </td></tr>
                }
                <tr><td><b>Ngành đăng ký xét tuyển 3</b>: </td><td colspan="2">@Model.TenNganh_TenToHop3</td><td></td><td><b>Mã ngành</b>: @Model.MaNganh_ToHop3</td><td></td><td></td></tr>
                @if (Model.CTDT3 == null)
                {
                    <tr><td></td><td colspan="3">Chương trình học: </td></tr>
                }
                else if (Model.CTDT3.Equals("CTTC"))
                {
                    <tr><td></td><td colspan="3">Chương trình học: Tiêu Chuẩn</td></tr>
                }
                else if (Model.CTDT3.Equals("CTĐB"))
                {
                    <tr><td></td><td colspan="3">Chương trình học: Đặc Biệt</td></tr>
                }
                else
                {
                    <tr><td></td><td colspan="3">Chương trình học: </td></tr>
                }
                <tr>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="2" style="color:Highlight;font-weight:bold;font-size:1.3em">THÔNG TIN LIÊN HỆ</td>
                    <td colspan="6"></td>
                </tr>

                <tr>
                    <td><b>Địa chỉ liên hệ</b>:</td>
                    <td colspan="6">@Model.HoKhau</td>
                </tr>
                <tr>
                    <td><b>Điện thoại</b>:</td>
                    <td>@Model.DienThoaiDD - <b>Điện thoại phụ huynh</b>: @Model.DienThoaiPhuHuynh</td>
                    <td></td>
                    <td><b>Email</b>:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td colspan="8"></td>
                </tr>

            </tbody>
        </table>

        <div class="vertical_space"></div>
    </div>
    <div class="vertical_space"></div>
    <div class="vertical_space"></div>
    <div class="vertical_space"></div>

    <div id="panelNutLenh">

        <div class="vertical_space"></div>
        <hr>
        <div class="vertical_space"></div>
        <div class="row">
            <div class="col-md-12 text-center">
                <input type="button" id="btnPrint" name="btnPrint" class="btn btn-warning" value="Print" onclick="myFunction()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </div>
        </div>

    </div>

    <div class="vertical_space"></div>
    <div class="vertical_space"></div>

    </div>
    </div>
</form>


