@model XettuyenDGNLTHPT.Models.Account

@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}



@using (Html.BeginForm())
{
   
    @Html.AntiForgeryToken()


        <div class="container-fluid" style="padding: 30px">

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <h3>Chỉnh sửa tài khoản</h3>
                        <form class="bg-light p-4 m-4">
                            <div class="form-group">
                                <label for="yourmail">Họ và Tên:</label>
                                @Html.EditorFor(model => model.Full_Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập họ và tên", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Full_Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label for="yourmail">Email:</label>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập email", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="yourmail">Số điện thoại</label>
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập số điện thoại", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="yourmail">Tên Đăng Nhập</label>
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên đăng nhâp", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="yourmail">Mật Khẩu</label>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập mật khẩu", type = "password", required = "true" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="yourmail">Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" name="repass" placeholder="Nhập lại mật khẩu" , required="true">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="yourmail">Chọn quyền:</label>
                                <select name="role" style=" width: 155px;
                                        height: 35px; text-align: center; font-size: 15px;" , required="true">
                                    <option value="">-----Chọn Quyền-----</option>
                                    <option value="1">Quản Trị</option>
                                    <option value="0">Quản Lý</option>
                                </select>
                                <p  class = "text-danger">@ViewBag.ErrorMessage</p>
                            </div>
                            <button class="btn-messger btn btn-success btn-save"  onclick="if (!confirm ('Bạn có muốn lưu thông tin tài khoản không?')) { return false; }">Đăng Ký</button>

                        </form>
                    </div>
                </div>
            </div>
       

    </div>
}



