@model XettuyenDGNLTHPT.Models.tblFormTuyenSinh
@{
    ViewBag.Title = "EditformDGNL";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}

<html dir="ltr" lang="en">



<body>

    <!-- ==========================croll==================================== -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;

        }
    </script>
  
    
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title" style="line-height: 40px; padding-top: 10px">Quản Lý Nội Dung</h4>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>

  
        <div class="container-fluid">

            <div style="
                    background: #fff;
    border: solid 2px #fff;
    padding: 20px;
                " class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3><b>Mở Form xét tuyển DGNL</b></h3>
                        <h5 class="text-center">
                            <div class="">
                                <script language="javascript" type="text/javascript">
                                    dayName = new Array("Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy")
                                    monName = new Array("1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12")
                                    now = new Date
                                    document.write("<font color=#FF6600><b>" + dayName[now.getDay()] + ", " + now.getDate() + "-" + monName[now.getMonth()] + "-" + now.getFullYear() + " - " + " " + now.getHours() + " " + "Giờ" + " " + now.getMinutes() + " " + " Phút </b></font>")
                                </script>
                            </div>
                        </h5>
                    </div>


                    @using (Html.BeginForm("EditformDGNL", "FormContent", FormMethod.Post))
                    {
                        <h3><b>Form Xét tuyển </b></h3>
                        <div class="form-group form-xettuyenthoigian">
                            <div>
                                <label for="birthday">Thời Gian Bắt Đầu</label> <br>
                                @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control", placeholder = "10/02/2001", Type = "Date" } })
                                @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                <label for="birthday">Thời Gian Kết Thúc</label> <br>
                                @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control", placeholder = "10/02/2001", Type = "Date" } })
                                @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-check form-switch formandata">
                            @Html.CheckBoxFor(model => model.Edit_Open.Value, new { @checked = "checked", Name = "editopen", @class = "form-check-input" })
                            <!--<input class="form-check-input" ckbox" name="editopen">-->
                            <label class="form-check-label" for="flexSwitchCheckDefault">Mở trang chỉnh sửa hồ sơ cho thí sinh</label> <br> <label for=""> <i> (Khi kết thúc chỉnh sửa sau 3 ngày)</i></label>
                        </div>
                        <button class="btn-messger btn btn-success btn-save" onclick="document.getElementById('id01').style.display='block'">Lưu Dữ Liệu</button>
                    }

                </div>
            </div>
        </div>
    </div>





    <div><button onclick="topFunction()" id="myBtn" title="Go to top"><i class="gg-arrow-up-o"></i></button></div>


</body>

</html>-
