@model XettuyenDGNLTHPT.Models.tblHoSoTHPT

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<script type="text/javascript">
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "light1", // "light2", "dark1", "dark2"
            animationEnabled: false, // change to true
            title: {
                text: "Hồ Sơ"
            },
            data: [
                {
                    type: "column",
                    dataPoints: [
                        { label: "Hồ Sơ Đánh Giá Năng Lực", y: @Session["hsdgnl"].ToString() },
                        { label: "Hồ Sơ THPT Quốc Gia", y:  @Session["hsthpt"].ToString() },
                        { label: "Tổng Số Lượng Hồ Sơ", y: @Session["slhs"].ToString() },

                    ]
                }
            ]
        });
        chart.render();

    }
</script>
<body>

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title" style="line-height: 40px; padding-top: 10px">Trang Quản Trị Website</h4>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Số Lượng Hồ Sơ ĐGNL</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash">
                                <canvas width="67" height="30"
                                        style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <i style="color: blue" class="fa fa-user"></i>
                        <li class="ms-auto"><span class="counter text-purple"> @Session["hsdgnl"].ToString()</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">

                    <h3 class="box-title">Số Lượng Hồ Sơ THPT Quốc Gia</h3>


                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash">
                                <canvas width="67" height="30"
                                        style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <i style="color: red" class="fa fa-user"></i>
                        <li class="ms-auto"><span class="counter text-purple"> @Session["hsthpt"].ToString()</span></li>
                    </ul>
                </div>
            </div>
        </div> <br /><br /><br /><br />
        <div>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Recent Comments -->
    <!-- ============================================================== -->


    <div><button onclick="topFunction()" id="myBtn" title="Go to top"><i class="gg-arrow-up-o"></i></button></div>

</body>

</html>-
