@model IEnumerable<XettuyenDGNLTHPT.Models.tblHoSoDGNL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phân trang ảo với Bootstrap 4 --- dammio.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"></script>

    <script>
        $(document).ready(function () {

            // Cấu hình các nhãn phân trang
            $('#example').dataTable({
                "language": {
                    "sProcessing": "Đang xử lý...",
                    "sLengthMenu": "Xem _MENU_ mục",
                    "sZeroRecords": "Không tìm thấy dòng nào phù hợp",
                    "sInfo": "Đang xem _START_ đến _END_ trong tổng số _TOTAL_ mục",
                    "sInfoEmpty": "Đang xem 0 đến 0 trong tổng số 0 mục",
                    "sInfoFiltered": "(được lọc từ _MAX_ mục)",
                    "sInfoPostFix": "",
                    "sSearch": "Tìm:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Đầu",
                        "sPrevious": "Trước",
                        "sNext": "Tiếp",
                        "sLast": "Cuối"
                    }
                }
            });

        });
    </script>

</head>
<body>

    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title" style="line-height: 40px; padding-top: 10px">Hồ Sơ Xét Tuyển ĐGNL</h4>
            </div>

        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="container-fluid">

        <div class="row" style="background-color: white ">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <a href="@Url.Action("Index","ManageTHPT")">
                    <button class="btn-messger btn btn-success btn-add-accoud" onclick="document.getElementById('id01').style.display='block'"><b></b>Hồ sơ THPT</button>
                </a>

                <div class="container-fluid">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Mã hồ sơ</th>
                                <th>Họ và tên</th>
                                <th>CMND</th>
                                <th>Email</th>
                                <th>SĐT</th>
                                <th>Địa chỉ</th>
                                <th>Đã nhận hồ sơ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("DetailsHoSoDGNL","ManageDGNL",new {id = item.ID })">@item.ID</a>
                                    </td>
                                    <td class="txt-oflo">@item.HoVaTen</td>
                                    <td class="txt-oflo">@item.CMND</td>
                                    <td class="txt-oflo">@item.Email</td>
                                    <td class="txt-oflo">@item.DienThoaiDD</td>
                                    <td class="txt-oflo"> @item.HoKhau, @item.HoKhau_TenPhuong, @item.HoKhau_TenQH, @item.HoKhau_TenTinhTP</td>
                                    <td class="txt-oflo" ,Type="checkbox"> @item.DaNhanHoSo</td>



                                </tr>
                            }
                        </tbody>

                    </table>
                    <div><button onclick="topFunction()" id="myBtn" title="Go to top"><i class="gg-arrow-up-o"></i></button></div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

