@model IEnumerable<XettuyenDGNLTHPT.Models.tblHoSoDGNL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}

<!DOCTYPE html>
<html dir="ltr" lang="en">


<body>


    <div class="page-wrapper">
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 style="padding-top: 10px;" class="page-title">Quản Lý Hồ Sơ DGNL</h4>
                </div>

            </div>
        </div>
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <a href="@Url.Action("Index","ManageTHPT")">
                        <button class="btn-messger btn btn-success btn-add-accoud" onclick="document.getElementById('id01').style.display='block'"><b></b>hồ sơ THPT</button>
                    </a>

                    <div class="white-box">

                        <div class="table-responsive">

                            <table style="text-align:center" class="table no-wrap">

                                <thead>
                                    <tr>
                                        <th class="border-top-0">Mã Hồ Sơ</th>
                                        <th class="border-top-0"><b>Họ và Tên</b></th>
                                        <th class="border-top-0"><b>CMND</b></th>
                                        <th class="border-top-0"><b>Email</b></th>
                                        <th class="border-top-0"><b>SĐT</b></th>
                                        <th class="border-top-0"><b>Địa chỉ</b></th>
                                        <th class="border-top-0"><b>Nhận hồ sơ</b></th>

                                        <th class="border-top-0"><b></b></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("",new {id = item.ID })">@item.ID</a>
                                            </td>
                                            <td class="txt-oflo">@item.HoVaTen</td>
                                            <td class="txt-oflo">@item.CMND</td>
                                            <td class="txt-oflo">@item.Email</td>
                                            <td class="txt-oflo">@item.DienThoaiDD</td>
                                            <td class="txt-oflo"> @item.HoKhau</td>
                                            <td class="txt-oflo" ,Type="checkbox"> @item.DaNhanHoSo</td>



                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div><button onclick="topFunction()" id="myBtn" title="Go to top"><i class="gg-arrow-up-o"></i></button></div>
    </div>

</body>

</html>

